# .env
# Proyecto
PROJECT_NAME=Sistema de Citas
PROJECT_VERSION=0.1.0
ENVIRONMENT=development

# Puertos locales
API_PORT=8000
FRONTEND_PORT=3000

# Base de datos (infraestructura)
DB_HOST=db
DB_PORT=5432

# Variables utilizadas por docker-compose
POSTGRES_USER=admin
POSTGRES_PASSWORD=micontraseña
POSTGRES_DB=gestion_citas

DATABASE_URL=postgresql+asyncpg://admin:micontraseña@db:5432/gestion_citas